* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: green;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.App {
  padding: 10px 50px;
}
header {
  margin: 0px auto 20px;
  padding: 20px;
  box-shadow: 10px 10px;
  border: 5px solid black;
}
header h1 {
  color: green;
  text-shadow: -1px 0 white, 0 3px white, 3px 0 white, 0 -1px white;
  text-align: center;
  font-size: 80px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 10px;
  margin: 20px auto;
  padding: 10px;
  border: 5px solid black;
}

.lastbar {
  display: flex;
  justify-content: space-around;
  box-shadow: 10px 10px;
  margin: 20px auto;
  padding: 10px;
  border: 5px solid black;
}

.lastbar span {
  width: 10px;
  color: white;
}

.data div {
  display: flex;
  justify-content: space-around;
  box-shadow: 10px 10px;
  margin: 20px auto;
  padding: 10px;
  border: 5px solid black;
}
.data span {
  width: 10px;
  color: white;
}

img {
  width: 20px;
  background-color: white;
}
button {
  padding: 10px;
  box-shadow: 3px 3px green;
  color: white;
  background-color: black;
  width: 100px;
  height: 50px;
}
input {
  padding: 10px;
  box-shadow: 3px 3px green;
  color: white;
  width: 200px;
  background-color: black;
  height: 50px;
}

button:hover {
  background-color: green;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 0px;
}

footer img {
  width: 75px;
}
#fav_btn {
  margin-right: 20px;
}

#trend-bar {
  background-color: green;
  width: 250px;
  padding: 10px;
  border: 5px solid black;
  text-align: center;
  position: absolute;
  top: 230px;
  right: 50px;
}
.search-span {
  color: white;
  text-decoration: underline;
}
.trending_coins span {
  margin: 5px;
  color: black;
}
.search {
  position: relative;
}
